SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/gestao_db
SPRING_DATASOURCE_USERNAME=your_db_user
SPRING_DATASOURCE_PASSWORD=your_db_password

SERVER_PORT=8080
APP_PROFILE=prod

APP_SECRET=your_jwt_secret_here
CORS_ALLOWED_ORIGIN=https://your-frontend-domain.com
APP_BASE_URI=https://api.your-domain.com/v1
